<button class="btn btn-primary" (click)="openModal(template)">Add Task</button>
<ng-template #template>
  <app-task-modal></app-task-modal>
</ng-template>
<div class="board-wrapper">
  <div class="board-columns" cdkDropListGroup>
    <div *ngFor="
    let column of board.columns"
         class="board-column"
         cdkDropList
         [cdkDropListData]="column.tasks"
         (cdkDropListDropped)="drop($event)"
    >
      <div class="column-title">
        {{column.name}}
      </div>
      <div
        class="tasks-container"
        style="cursor: pointer"
      >
        <div
          *ngFor="let task of column.tasks"
          class="task"
          (click)="openModal(template, task)"
          cdkDrag
        >
          {{ task.user }}
          <br>
          {{ task.date }}
        </div>
      </div>
    </div>
  </div>
</div>
